html {
  padding: 0;
  margin: 0; }

body {
  font-family: "helvetica", "arial", "sans-serif";
  -webkit-user-select: none; }

#roundOverlay {
  -webkit-transition: opacity 1s; }
  #roundOverlay .roundWrapper {
    width: 720px;
    height: 350px;
    background: #FFFFFF;
    border: solid thin #cdcdcd;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    padding: 4px;
    margin: 42px auto;
    position: relative; }
    #roundOverlay .roundWrapper .menu {
      position: absolute;
      bottom: 4px;
      right: 0;
      display: -webkit-box;
      color: #CDCDCD;
      font-size: 14px;
      cursor: default; }
      #roundOverlay .roundWrapper .menu .menu-item {
        margin: 0 6px;
        cursor: pointer; }
        #roundOverlay .roundWrapper .menu .menu-item:hover {
          color: #999; }
    #roundOverlay .roundWrapper .roundTeam {
      display: -webkit-box;
      -webkit-box-align: center;
      height: 80px;
      margin: 15 33px;
      width: 75%; }
      #roundOverlay .roundWrapper .roundTeam .grandioseTeam {
        -webkit-box-flex: 1;
        font-size: 38px;
        font-weight: bold;
        border: solid #444;
        padding: 5px;
        text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2); }
      #roundOverlay .roundWrapper .roundTeam .grandioseScore {
        font-size: 57px;
        font-weight: bold;
        text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
        border: solid #444;
        border-radius: 5px;
        width: 69px;
        text-align: center;
        background: #828282;
        cursor: pointer; }
      #roundOverlay .roundWrapper .roundTeam.roundTopTeam .grandioseTeam {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: none;
        text-align: right; }
      #roundOverlay .roundWrapper .roundTeam.roundTopTeam .grandioseScore {
        color: red; }
      #roundOverlay .roundWrapper .roundTeam.roundBottomTeam {
        float: right; }
        #roundOverlay .roundWrapper .roundTeam.roundBottomTeam .grandioseTeam {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border-left: none; }
        #roundOverlay .roundWrapper .roundTeam.roundBottomTeam .grandioseScore {
          color: blue; }
    #roundOverlay .roundWrapper .buffer {
      font-size: 78px;
      font-style: italic;
      text-align: center;
      font-weight: bold;
      text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.5); }

.visible-false {
  display: none; }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10; }

.bracketTier {
  margin: 35px auto;
  display: -webkit-box;
  -webkit-box-pack: justify;
  -webkit-box-align: center; }
  .bracketTier .bracketNode {
    width: 185px;
    border: solid thin #CDCDCD;
    border-radius: 3px;
    position: relative;
    cursor: default;
    -webkit-transition: opacity 1s; }
    .bracketTier .bracketNode.active-false {
      opacity: 0.5; }
    .bracketTier .bracketNode .teamTop {
      border-bottom: solid thin #CDCDCD; }
    .bracketTier .bracketNode .team {
      display: -webkit-box;
      -webkit-box-align: center;
      padding: 4px;
      background: #EEEEEE; }
      .bracketTier .bracketNode .team .teamname {
        -webkit-box-flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: text; }
      .bracketTier .bracketNode .team .score {
        font-size: 20px; }
    .bracketTier .bracketNode:hover:after {
      content: "Play";
      display: block;
      position: absolute;
      height: 15px;
      font-size: 14px;
      bottom: -15px;
      color: #CDCDCD;
      right: 0; }

#tier-1 {
  width: 72%; }

#tier-2 {
  width: 185px; }
